.container {
    overflow: visible;
    min-width: fit-content;
    background-color: gray;
    justify-content: space-evenly;
    display: flex;
    div{
        margin-inline: 10%;
        padding: 10px 2px;
    }
    .chat{
        margin-right: 0;
        padding-right: 0;
    }
}
.navbar {
    padding: 5px 10px;
    display: flex;
    background-color: rgb(221, 18, 18);
}